# Virtual Environment
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Data files
data/raw/
data/processed/

# IDE
.vscode/
.idea/

# OS
.DS_Store
